build-home/.bash_history
build-home/.buildroot-ccache/
build-home/ccachebuildroot/
build-home/configs/merged_defconfig
build-home/output/
build-home/buildroot/

containers/*/Dockerfile
containers/*/rootfs.tar.gz
